.photos-page {
  margin-top: 1em;
}

.logo-font {
  color: #007bff!important;
}

.nav-link {
  cursor: pointer;
  margin-right: 0.25em;
}

.side-bar ul li a {
  text-transform: capitalize;
  margin-bottom: 0.5em;
}

.side-bar ul li a:hover {
  background-color: #ddffdd;
}

.selected {
  color: red !important;
  background-color: #f1f1f1;
}

.badge {
  margin: 0.25em;
  cursor: pointer;
}

.badge:hover {
  background-color: #ddffdd;
}
