<div class="photos-page">
  <div class="container">
    <div class="row">
      <div *ngIf="currentUser?.username" class="side-bar col-sm-12 col-md-4 col-lg-3 col-xl-2">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link"
              [ngClass]="{'selected': flag === 'all'}"
              (click)="setPhotoListTo('all')">
              All
            </a>
          </li>

          <li *ngIf="currentUser?.username" class="nav-item">
            <a class="nav-link"
              [ngClass]="{'selected': flag === 'feed'}"
              (click)="setPhotoListTo('feed')">
              Photos You Follow
            </a>
          </li>

          <li *ngIf="currentUser?.username" class="nav-item">
            <a class="nav-link"
              [ngClass]="{'selected': flag === 'upvoted'}"
              (click)="setPhotoListTo('all', {upvoted: currentUser.username})">
               Favorite Photos
            </a>
          </li>

          <li *ngIf="currentUser?.username" class="nav-item">
            <a class="nav-link"
              [ngClass]="{'selected': flag === 'downvoted'}"
              (click)="setPhotoListTo('all', {downvoted: currentUser.username})">
              Unfavorite Photos
            </a>
          </li>
        </ul>
      </div>

      <div class="col-sm-12"
        [ngClass]="{'col-md-8 col-lg-9 col-xl-10': currentUser?.username}">
        <app-photo-list [limit]="limit" [config]="photoListConfig"></app-photo-list>

        <div class="">
          <hr />
          <div class="tag-list">
            <a *ngFor="let tag of photoTags"
               (click)="setPhotoListTo('all', {tag: tag})"
               class="badge badge-pill badge-light">
               <h6 [ngClass]="{'text-danger': selectedTag === tag}">{{ tag }}</h6>
            </a>
          </div>

          <div [hidden]="photoTagsLoaded">
            Loading tags...
          </div>

          <div [hidden]="!photoTagsLoaded || photoTags.length > 0">
            No tags are here... yet.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
