<div class="container">
  <br>
  <h4 class="page-header text-center text-primary"><strong>About Us</strong></h4>
  <h5 class="text-center text-orange">
    <strong>We provide a platform to share photos.</strong>
  </h5>

  <div class="banner" *appShowAuthed="false">
    <div class="text-center">
      <p>Please <span><a class="text-info"
        [routerLink]="['/register']">Sign up</a></span> and <span>
        <a class="text-info" [routerLink]="['/login']">Sign in</a>
      </span> to upload photos and make comments.
    </p>
    </div>
  </div>
</div>
