nav {
  background-color: #F9F9F9!important;
}

.navbar-brand {
  font-size: 20px;
  color: #333;
  margin-left: 1em!important;
}

.navbar-nav li a {
  text-transform: capitalize;
  font-size: 14px;
}

.user-pic {
  height: 26px;
  border-radius: 50px;
  float: left;
}
