<div class="photo-preview">
  <app-list-errors [errors]="errors"></app-list-errors>

  <div class="">
    <a [routerLink]="['/photo', photo.slug]">
      <img class="photo-img" src="{{photo_url}}{{photo.image}}" alt="{{photo.title}}">
    </a>

    <div class="py-0 pt-2">
      <div class="d-flex">
        <div class="">
          <a class="text-primary"
            [routerLink]="['/profile', photo.createdBy.username, 'profile-photos']">
            {{ photo.createdBy.username }}
          </a>
          <small class="text-muted">
            &nbsp;&nbsp;{{ photo.createdAt | timeAgo }}
          </small>
        </div>

        <div class="ml-auto">
          <button class="no-button"
           [disabled]="!canVote || isSubmittingVote || !isAuthenticated"
           (click)="toggleUpvote()">
            <i class="fa" [ngClass]="{'fa-thumbs-up': photo.upvoted, 'fa-thumbs-o-up': !photo.upvoted}" aria-hidden="true"></i>
            <span *ngIf="photo.upvotesCount > 0">
              &nbsp;{{ photo.upvotesCount }}
            </span>
          </button>

          <button class="no-button"
           [disabled]="!canVote || isSubmittingVote || !isAuthenticated"
           (click)="toggleDownvote()">
            <i class="fa" [ngClass]="{'fa-thumbs-down': photo.downvoted, 'fa-thumbs-o-down': !photo.downvoted}" aria-hidden="true"></i>
            <span *ngIf="photo.downvotesCount > 0">
              &nbsp;{{ photo.downvotesCount }}
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
