.badge {
  margin: 0.1em;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.no-button {
  border: none;
  background: white;
}

.photo-img {
  width: auto;
  max-width: 100%;
}
