<div class="profile-page">
	<app-list-errors [errors]="errors"></app-list-errors>

  <div class="container d-flex mb-2 p-2 bd-highlight">
    <div *ngIf="profile.image">
      <img src="{{avatar_url}}{{profile.image}}" class="user-image mx-auto d-block" />
    </div>

    <div class="ml-3">
      <h4 *ngIf="profile.firstname && profile.lastname" class="username text-center">
        <strong>{{ profile.firstname }}&nbsp;&nbsp;{{ profile.lastname }}</strong>
      </h4>
      <h4 *ngIf="!profile.firstname || !profile.lastname" class="username text-center">
        <strong>{{ profile.username }}</strong>
      </h4>

      <div class="my-2">Since {{ profile.createdAt | date: 'yyyy' }}</div>
      <h6 *ngIf="profile.followersCount"> {{profile.followersCount}} follower<span *ngIf="profile.followersCount > 1">s</span></h6>
    </div>

    <div class="ml-auto align-self-end">
      <button class="btn"
        [disabled]="!isAuthenticated || profile.yourself || isSubmittingFollow"
        [ngClass]="{ 'disabled': isSubmittingFollow,
                    'btn-danger': isAuthenticated && !profile.following,
                    'btn-info': profile.following }"
        (click)="toggleFollowing()">
        <span *ngIf="!profile.following"><i class="fa fa-plus fa-lg" aria-hidden="true"></i>&nbsp;</span>
        <span *ngIf="profile.following"><i class="fa fa-minus fa-lg" aria-hidden="true"></i>&nbsp;</span>
        {{ profile.following ? 'Unfollow' : 'Follow' }}
        <span *ngIf="profile.followersCount > 0">&nbsp;{{profile.followersCount}}</span>
      </button>

      <button *ngIf="profile.yourself" [routerLink]="['/profile-edit']"
        class="btn btn-warning">
        <i class="ion-gear-a"></i> Edit Profile
        </button>
    </div>
  </div>

  <div class="container">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link  text-info"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLink]="['/profile', profile.username, 'profile-photos']">
          Photos
        </a>
      </li>
      <li *ngIf="profile.yourself" class="nav-item">
        <a class="nav-link text-info"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLink]="['/profile', profile.username, 'photos-following']">
          Photos You Follow
        </a>
      </li>
      <li *ngIf="profile.yourself" class="nav-item">
        <a class="nav-link text-info"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLink]="['/profile', profile.username, 'photos-upvote']">
          Favorite Photos
        </a>
      </li>
      <li *ngIf="profile.yourself" class="nav-item">
        <a class="nav-link text-info"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLink]="['/profile', profile.username, 'photos-downvote']">
          Unfavorite Photos
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-info"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLink]="['/profile', profile.username, 'profile-info']">
          Info
        </a>
      </li>
    </ul>

    <router-outlet></router-outlet>
  </div>
</div>
