.username {
  padding-top: .5em;
}

.nav-link {
  text-transform: capitalize;
}

.user-image {
  margin-top: 2em 0 .5em 0;
  max-width: 200px;
  max-height: 200px;
}

a {
  cursor: pointer;
  font-size: 0.875rem;
  color: #333;
}

a.active {
  background-color: #f1f1f1;
  color: red !important;
}

a:hover {
  color: red !important;
  background-color: #f1f1f1;
}

.bd-highlight {
  background-color: #f2f2f2;
}

