.banner {
  padding-top: 0.5em;
}

.card-block {
  padding-bottom: 0.5em;
  margin-bottom: 0.1em;
}

.photo-img {
  margin-top: 1em;
  margin-bottom: 1em;
  width: auto;
  max-width: 100%;
}

.photo-createdBy-img {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  float: left;
  margin-right: 5px;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.no-button {
  border: none;
  background: white;
}

.comment-block {
  margin-bottom: 5em;
}
